{% extends 'workouts/base.html' %}

{% block content %}

    <!-- Workout stats -->

    <div class="table-responsive">
        <table class="table table-sm" id='workout_stats'>

            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Days</th>
                    <th>Workouts (count)</th>
                    <th>Workouts (%)</th>
                    <th>Rest (count)</th>
                    <th>Rest (%)</th>
                    <th>Cardio (count)</th>
                    <th>Cardio (%)</th>
                </tr>
            </thead>

            <tbody>
                {% for row in stats %}
                <tr>
                    <td>{{ row.from|date:"D, d-M-Y" }}</td>
                    <td>{{ row.to|date:"D, d-M-Y" }}</td>
                    <td>{{ row.days }}</td>
                    <td>{{ row.workouts }}</td>
                    <td>{{ row.workouts_prop }}</td>
                    <td>{{ row.rest }}</td>
                    <td>{{ row.rest_prop }}</td>
                    <td>{{ row.cardio }}</td>
                    <td>{{ row.cardio_prop }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <!-- table-responsive -->

    <br>

    <!-- Workout log -->

    <div class="table-responsive">
        <table class="table table-striped table-sm" id='workout_log'>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Workout</th>
                    <th>Duration (mins)</th>
                    <!-- <th>Distance (km)</th> -->
                    <!-- <th>Pace (mins/km)</th> -->
                    <!-- <th>Category</th> -->
                    <th>User</th>
                </tr>
            </thead>

            <tbody>
                {% for row in page_obj %}
                <tr>
                    <td><a class="article-title" href="{% url 'workout-detail' row.id %}">{{ row.id }}</a></td>
                    <td>{{ row.date|date:"D, d-M-Y" }}</td>
                    <td>{{ row.workout }}</td>
                    <td>{{ row.duration }}</td>
                    <!-- <td>{{ row.distance|floatformat:2 }}</td> -->
                    <!-- <td>{{ row.pace|floatformat:2 }}</td> -->
                    <!-- <td>{{ row.category }}</td> -->
                    <td>
                        <a class="article-title" href="{% url 'user-workouts' row.user.username %}">{{ row.user }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <!-- table-responsive -->

    <!-- Pagination links -->

    {% if page_obj.has_other_pages %} <!-- if this page is paginated; can also use `if is_paginated` -->

        {% if page_obj.has_previous %} <!-- page_obj is the page object that got passed into the template -->
            <a class="btn btn-outline-info mb-4 mt-2" href="?page=1">First</a> <!-- go to first page -->
            <a class="btn btn-outline-info mb-4 mt-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <!-- Display a certain number of pages around the current page -->
        <!-- Loop over all the pages -->
        {% for num in page_obj.paginator.page_range %}
            <!-- Check that we are on the current page -->
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4 mt-2" href="?page={{ num }}">{{ num }}</a> <!-- go to current page -->
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4 mt-2" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %} <!-- page_obj is the page object that got passed into the template -->
            <a class="btn btn-outline-info mb-4 mt-2" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4 mt-2" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
    <!-- if this page is paginated -->

    <!-- Graphs and plots -->

    {% autoescape off %}
        {{ fig_div }}
    {% endautoescape %}

    {% autoescape off %}
        {{ pie_plots_div }}
    {% endautoescape %}

{% endblock %}
