{% extends 'workouts/base.html' %}

<!-- Stats -->

{% block stats %}

    <div class='w-100' id='stats_row'>

        <table class='table' id='stats'>

            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Days</th>
                    <th>Workouts (count)</th>
                    <th>Workouts (%)</th>
                    <th>Rest (count)</th>
                    <th>Rest (%)</th>
                    <th>Runs (count)</th>
                    <th>Runs (%)</th>
                </tr>
            </thead>

            <tbody>
                {% for row in stats %}
                <tr>
                    <td>{{ row.from }}</td>
                    <td>{{ row.to }}</td>
                    <td>{{ row.days }}</td>
                    <td>{{ row.workouts }}</td>
                    <td>{{ row.workouts_prop }}</td>
                    <td>{{ row.rest }}</td>
                    <td>{{ row.rest_prop }}</td>
                    <td>{{ row.runs }}</td>
                    <td>{{ row.runs_prop }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <br>

    </div>

{% endblock stats %}

<!-- Workout log -->

{% block workout_log %}

    <div class='w-100' id='workout_log_row'>

        <table class='table' id='workout_log'>

            <thead>
                <tr>
                    <!-- {% for col in data_filt_cols %}
                        <th>{{ col }}</th>
                    {% endfor %} -->
                    <th>No</th>
                    <th>Date</th>
                    <th>Workout</th>
                    <th>Duration (mins)</th>
                </tr>
            </thead>

            <tbody>
                {% for row in data_filt %}
                <tr>
                    <td>{{ row.no }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.workout }}</td>
                    <td>{{ row.duration }}</td>
                    <td>{{ row.category }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

{% endblock workout_log %}

<!-- Graphs and plots -->

{% block workout_plots %}

    <div class='w-100' id='wd_row'>

        {% autoescape off %}
            {{ fig_div }}
        {% endautoescape %}

    </div>

    <div class='w-100' id='pie_charts_row'>

        {% autoescape off %}
            {{ pie_plots_div }}
        {% endautoescape %}

    </div>

{% endblock workout_plots %}
