{% extends 'workouts/base.html' %}

{% block content %}

    <!-- Run stats -->

    <div class="table-responsive">
        <table class="table" id='run_stats'>

            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Days</th>
                    <th>Runs (count)</th>
                    <th>Runs (%)</th>
                    <th>Average distance (km)</th>
                    <th>Average duration (mins)</th>
                    <th>Average pace (mins/km)</th>
                </tr>
            </thead>

            <tbody>
                {% for row in stats %}
                <tr>
                    <td>{{ row.from }}</td>
                    <td>{{ row.to }}</td>
                    <td>{{ row.days }}</td>
                    <td>{{ row.runs }}</td>
                    <td>{{ row.runs_prop }}</td>
                    <td>{{ row.mean_dist }}</td>
                    <td>{{ row.mean_dur }}</td>
                    <td>{{ row.mean_pace }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <!-- table-responsive -->

    <br>

    <!-- Running log -->

    <div class="table-responsive">
        <table class="table" id='run_log'>

            <thead>
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Distance (km)</th>
                    <th>Duration (mins)</th>
                    <th>Pace (mins/km)</th>
                </tr>
            </thead>

            <tbody>
                {% for row in run %}
                <tr>
                    <td>{{ row.no }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.distance }}</td>
                    <td>{{ row.duration }}</td>
                    <td>{{ row.pace }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <!-- table-responsive -->

    <!-- Graphs and plots -->

    {% autoescape off %}
        {{ run_plots_div }}
    {% endautoescape %}

{% endblock %}
