{% extends 'workouts/base.html' %}

<!-- New workout form -->

{% block content %}

    <div class='content-section'>

        <form method='POST'>

            {% csrf_token %}

            <fieldset class='form-group'>

                <legend class='border-bottom mb-4'>Workout</legend>

                {{ form.as_p }}

            </fieldset>

            <div class='form-group'>
                <button class='btn btn-success' type='submit'>Add</button>
                <a class='btn btn-outline-secondary' href="{% url 'workout-detail' object.id %}">Cancel</a>
            </div>

        </form>

    </div>

{% endblock %}
