appdirs==1.4.4
applaunchservices==0.2.1
binaryornot==0.4.4
bitarray==2.3.4
bleach==4.1.0
bokeh==2.4.0
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
charset-normalizer==2.0.6
click==8.0.2
cloudpickle==2.0.0
clyent==1.2.2
conda==4.10.3
conda-build==3.21.4
conda-verify==3.4.2
contextlib2==21.6.0
cookiecutter==1.7.3
cryptography==35.0.0
cycler==0.10.0
cytoolz==0.11.0
dask==2021.9.1
debugpy==1.5.0
decorator==5.1.0
deprecation==2.1.0
dj-database-url==0.5.0
Django==3.2.8
django-heroku==0.0.0
entrypoints==0.3
fastcache==1.1.0
Flask==2.0.2
gunicorn==20.1.0
importlib-metadata==4.8.1
ipykernel==6.4.1
ipython==7.28.0
ipywidgets==7.6.5
Jinja2==3.0.2
jinja2-time==0.2.0
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyter-packaging==0.10.6
jupyter-server==1.11.1
jupyterlab==3.1.18
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
libarchive-c==3.1
llvmlite==0.37.0
matplotlib==3.4.3
matplotlib-inline==0.1.3
navigator-updater==0.2.1
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
numba==0.54.1
numpy==1.21.2
openpyxl==3.0.9
pandas==1.3.3
pandocfilters==1.5.0
parso==0.8.2
path==16.2.0
pathlib==1.0.1
pathspec==0.9.0
pathtools==0.1.2
Pillow==8.3.2
pkginfo==1.7.1
platformdirs==2.4.0
plotly==5.3.1
prompt-toolkit==3.0.20
psycopg2-binary==2.9.1
pycodestyle==2.7.0
pyodbc==4.0.32
pyOpenSSL==21.0.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pytest==6.2.5
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.3
python-slugify==5.0.2
pytz==2021.3
PyYAML==5.4.1
QtAwesome==1.0.3
qtconsole==5.1.1
QtPy==1.11.2
regex==2021.10.8
requests==2.26.0
requests-unixsocket==0.2.0
retrying==1.3.3
rope==0.20.1
scipy==1.7.1
seaborn==0.11.2
spyder==5.1.5
spyder-kernels==2.1.3
SQLAlchemy==1.4.25
sqlparse==0.4.2
statsmodels==0.13.0
sympy==1.9
tables==3.6.1
text-unidecode==1.3
tifffile==2021.10.10
tinycss2==1.1.0
ujson==4.2.0
urllib3==1.26.7
watchdog==2.1.6
webencodings==0.5.1
websocket-client==1.2.1
whitenoise==5.3.0
widgetsnbextension==3.5.1
