/* Globally defined variables */

:root {
    --sidenav_width: 250px;
    --sidenav_head_height: 100px;
    --sidenav_header_size: 25px;
    --homepage_margin: 50px;
}

* {
    margin: 0px;
    padding: 0px;
    line-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* We're working with the body tag, and so with the WHOLE page */

body {
    background-color: #F0F0F0;
    /* background-color: #FFFFFF; */
}

/* #################### SIDENAV #################### */

#sidenav {
    left: 0px;
    width: var(--sidenav_width);
    height: 100%;
    background: #3E3E3E;
    position: fixed;
    overflow: auto;
}

#sidenav_header {
    font-size: var(--sidenav_header_size);
    font-weight: bold;
    color: #FFFFFF;
    /* text-align: center; */
    line-height: var(--sidenav_head_height);
    background: #000000;
    padding-left: 20px;
    user-select: none
}

#sidenav ul a {
    font-size: calc(var(--sidenav_header_size) - 5px);
    height: 100%;
    width: 100%;
    line-height: var(--sidenav_head_height);
    color: #FFFFFF;
    padding-left: 20px;
    text-decoration: none;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #000000;
    display: block;
}

/* Add space between the icon and the text in the sidenav items */

#sidenav ul a i {
    margin-right: 10px
}

/* Make sidenav items move/jump with mouse hovering */

#sidenav ul li:hover a {
    padding-left: 35px
}

/* #################### MAIN PAGE #################### */

#homepage {
    height: 100%;
    width: 100%;
    margin-left: calc(var(--sidenav_width) + var(--homepage_margin)); /* same as sidenav width */
    margin-right: var(--homepage_margin);
    margin-top: 0px; /* or var(--sidenav_head_height) */
}

/* #################### WORKOUT STATS #################### */

#workout_stats {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #3E3E3E;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

#workout_stats th {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}

#workout_stats tr {
    color: #FFFFFF;
    /* font-weight: bold; */
}

/* #################### WORKOUT LOG #################### */

#workout_log {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* border: 1px solid #000000; */
    text-align: center;
    vertical-align: middle;
    /* background-color: #000000; */
    border-collapse: collapse;
    display: none;
}

#workout_log th {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    /* text-transform: capitalize; */
}

#workout_log tr {
    color: #FFFFFF;
}

/* #################### RUNNING STATS #################### */

#running_stats {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #3E3E3E;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

#running_stats th {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
}

#running_stats tr {
    color: #FFFFFF;
}

/* #################### RUN LOG #################### */

#run_log {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    display: none;
}

#run_log th {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    /* text-transform: capitalize; */
}

#run_log tr {
    color: #000000;
}
