
* {
    margin: 0px;
    padding: 0px;
    line-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* We're working with the body tag, and so with the WHOLE page */

body {
    background-color: #F0F0F0;
}

/* SIDENAV */

.sidenav {
    left: 0px;
    width: 250px;
    height: 100%;
    background: #3E3E3E;
    position: fixed;
    overflow: auto;
}

.sidenav header {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    /* text-align: center; */
    line-height: 80px;
    background: #000000;
    padding-left: 20px;
    user-select: none
}

.sidenav ul a{
    font-size: 20px;
    height: 100%;
    width: 100%;
    line-height: 80px;
    color: #FFFFFF;
    padding-left: 20px;
    text-decoration: none;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #000000;
    display: block;
}

/* Add space between icon and text */

.sidenav ul a i {
    margin-right: 10px
}

/* Make sidenav items move with mouse hovering */

.sidenav ul li:hover a {
    padding-left: 35px
}

/* MAIN PAGE */

#homepage {
    height: 100%;
    margin-left: 250px; /* same as navbar width */
    padding: 50px;
}
